.rectangle {
  display: block;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  border: 1px solid #999;
  float: left;
  font-size: 15px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

.visualization-row:after {
  clear: both;
  content: "";
  display: table;
}

.visualization {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;

  .visualization-board {
    margin-top: 20px;
  }
}
